* {
    margin:0;
    padding: 0;
}
.Header {
    background-color: rgb(33, 156, 237);
    padding: 10px;
    color: white;
}

.map {
    height: 400px;
}

.map > div {
    width: 100% !important;
    height: 100% !important;
}

.mainFlexContainer {
    margin: 5px;
    background-color: whitesmoke;
}

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    widows: 100%;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}